@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
li {
    list-style-type: none;
}
ul {
    margin: 0;
    padding: 0;
}
a {
   color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
.soc-icons li {
    display: inline-block;
    border: 1px solid #fff;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
}
.soc-icons li:hover {
    color: #bc2437;
    border: 1px solid #bc2437;
}
.soc-icons li+li {
    margin-left: 24px;
}

.header {
    background-color: white;
    color: #000;
}

.soc-icons-header li {
    border: 1px solid #000;
    text-align: center;
}
.logo {
    padding: 10px;
}

.mob-menu{
    display: none;
}

.menu li {
    display: inline-block;
}
.menu li:hover {
    color: #bc2336;
}
.menu li+li {
    padding-left: 20px;
}
.order {
    background: url("../img/bg.png");
    background-size: cover;
    background-position: center center;
    height: 90vh;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    color: white;
}
.order h1 {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    font-weight: 400;
}
.order h2{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.btn-order {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-variant: small-caps;
    border: 3px solid #bc2336;
    padding: 0 100px;
    line-height: 50px;
    margin-top: 20px;
}

.services {
    padding: 3% 0 5%;
}

.content-services {
    text-align: center;
    padding: 22px 5%;
}
.content-services h5 {
    color: #000000;
    font-family: 'Lobster', cursive;
    font-size: 36px;
    font-weight: 400;
}


.servis-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.servis-card img {
    max-width: calc(100% - 10px);
    position: absolute;
}

.white-circle {
    width: 170px;
    height: 170px;
    background: #ffffffb3;
    position: relative;
    margin: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-variant: small-caps;
    transition: all 0.5s ease;
    top: 0;
    text-align: center;
    z-index: 4;
}
.white-circle:hover {
    border: 5px solid #bc2336;
    box-sizing: border-box;
    color: #bc2336;
}
.white-circle:hover:after {
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
}
.white-circle:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 15px solid #ffffffb3;
    border-radius: 50%;
}


.footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 3% 0;
}
.footer h6 {
    font-family: 'Lobster', cursive;
    font-size: 24px;
    font-weight: 400;
}

.contact {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-variant: small-caps;
    margin: 4% 0 2%;
}

@media screen and (max-width: 1028px) {
    .menu {
        display: none;
    }
    .mob-menu {
        display: flex;
        margin-left: 25px;
        font-size: 35px;
    }
}

@media screen and (max-width: 630px){
    .soc-icons li+li {
        margin-left: 8px;
    }
}